h1 a, h2 a{
    color: #03FBCE;
    text-decoration: none;
}
body{
    font-family: 'Lato', sans-sarif;
    background-color: #00261F;
    color: #D6D6D6;
}
img{
    border-radius: 10px;
    float:left;
    margin: 10px;
}
input, textarea {
  background-color: #003229;
  color: #FFFFFF;
  border: 1px solid #008000;
  border-radius: 4px;
}
.header{
    width: 100%;
    background-color: #003229;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
.pageHeader{
    margin-left: 20px;
    padding-top: 20px;
}
.content{
    padding-left: 50px;
    margin-left: 30px;
    padding-top: 30px;
}
.date{
    clear: both;
    font-size: 10pt;
    color: #828282;
    text-align: right;
    padding-top: 20px;
}
.oneGuideline{
    min-height: 350px;
}
.contentContainer{
    width: 100%;
    padding: 20px 20px 20px 40px;
    float:left;
}
.pagination{
    clear: both;
}
.step-links a{
    color: #03FBCE;
    text-decoration: none;
    font-size: 14pt;
}
.current{
    color: #D6D6D6;
    font-size: 14pt;
}
.search-style{
    color: #03FBCE;
}
.footer{
    clear: both;
    vertical-align: bottom;
    font-size: 11pt;
    text-align: center;
    margin-bottom: 0;
    padding: 20px;
    color: #828282;
    width: 100%;
}
.label{
    float: right;
    color: #828282;
}